@import "https://fonts.googleapis.com/css?family=Lato:400,700";
:root {
  --background-color: #eeeeee;
  --text-color: #000000;
  --button-color: #f1c40f;
  --buttonHover-color: #ffa500;
  --icon-color: #ff8c00;
  --background-color2: #d6d6d6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: var(--background-color);
}
main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
/* Header Styling */
#header {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100vw;
  background-color: #eee;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}
.brand-logo {
  width: 60vw;
}
#header-img {
  max-width: 300px;
  height: auto;
  padding: 22px;
}
#nav-bar {
  align-self: center;
}
#nav-bar ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nav-bar ul li {
  font-weight: 400;
}
/* Form styling */
#form-section {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#email {
  padding: 4px 3px;
  margin-top: 20px;
  width: 250px;
}
#submit {
  display: block;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bolder;
  border: 0;
  background-color: #f1c40f;
  margin: 15px auto;
}
/* Feature section styling */
.feature-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: start;
  padding: 20px;
}
.icon {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}
.description {
  width: 60vw;
}
@media screen and (max-width: 550px) {
  #form-section {
    margin-top: 120px;
  }
  #header {
    flex-direction: column;
  }
  .brand-logo {
    margin: 10px auto;
    padding: 0;
  }
  #nav-bar ul {
    flex-direction: column;
  }
  #nav-bar ul li {
    padding: 10px;
    text-align: center;
    padding: 5px;
  }
  .icon {
    display: none;
  }
  .description {
    width: 90vw;
    text-align: center;
  }
}
@media screen and (min-width: 550px) and (max-width: 650px) {
  #nav-bar ul {
    flex-direction: column;
    text-align: center;
  }
  .feature-desc {
    display: flex;
    justify-content: space-evenly;
  }
}
/* How it works section */
#how-it-works {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}
/* Pricing section styling */
#pricing {
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-color);
  width: 300px;
  margin: 10px;
}
.options div {
  background-color: var(--background-color2);
  padding: 10px 20px;
  width: 100%;
  font-weight: bolder;
}
.options h2 {
  padding: 10px;
}
.options ul li {
  padding: 5px;
}
@media screen and (max-width: 750px) {
  #pricing {
    flex-direction: column;
  }
}
input[type="button"] {
  margin-top: 20px;
  background-color: #f1c40f;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 15px;
  border: none;
  margin-bottom: 20px;
}
input[type="button"]:hover {
  background-color: orange;
  transition: background-color 1s;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color2);
  padding: 20px;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
footer ul li {
  text-align: right;
  padding: 10px;
}
footer span {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  color: #444;
}
